*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.prefs
*.lock
.metadata/.log
*.gen
.metadata/.mylyn/.taskListIndex/segments_1
*.zip
.metadata/.plugins/org.eclipse.core.resources/.history/4c/10bbc0e04c1700171fefac72a3aac173
.metadata/.plugins/org.eclipse.core.resources/.history/ae/208b4fd64c1700171fefac72a3aac173
*.index
*.snap
*.properties
*.resources
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
*.fdt
*.fdx
*.fnm
*.frq
*.nrm
*.tii
*.json
*.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
*.dat
*.xml
myFirstProject/.project
myFirstProject/.classpath
*.ini
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
*.log
*.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_2
*.xmi
*.launch
